:host{
    padding: 25px;
}

.item{
    display: grid;
    row-gap: 16px;

    &__title{
        font-size: 18px;
        font-weight: 600;
    }

    &__data{
        display: flex;
        flex-direction: row;
    }
}
